.lines-l{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l-paragraph{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  max-height: 96px;
}
.navigation-w{
  margin-left: 150px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.active{
  box-shadow: 0 -3px 0 #89229b inset;
}